PROJECT_ROOT=PROJECT-ROOT-HERE

DISCORD_PUBLIC_KEY=PUBLIC-KEY-HERE
DISCORD_TOKEN=DISCORD-TOKEN-HERE

POSTGRES_USER=anathema
POSTGRES_PASSWORD=POSTGRES-PASSWORD-HERE
POSTGRES_DB=anathemadb
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

PROXY_API_KEY=PROXY-API-KEY-HERE

SUPERUSER_ID=USERNAME-HERE

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=anathemaminio
MINIO_SECRET_KEY=MINIO-SECRET-HERE
MINIO_BUCKET=images
MINIO_SECURE=False

REDIS_URL=redis://redis:6379

REDIS_PENDING_AI_PREFIX=pending:ai:
REDIS_PENDING_IMAGE_PREFIX=pending:image:
REDIS_PENDING_ADMIN_PREFIX=pending:admin:
PENDING_TTL_SECONDS=600

MEMORY_CACHE_TTL_SECONDS=300

HISTORY_CACHE_LIMIT=100
REDIS_HISTORY_PREFIX=history:

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

KAFKA_GROUP_ADMIN_SERVICE=admin_service_group
KAFKA_TOPIC_ADMIN_COMMANDS=admin.commands
KAFKA_TOPIC_ADMIN_RESPONSES=admin.responses

KAFKA_GROUP_AI_WORKER=ai_worker_group
KAFKA_TOPIC_AI_REQUESTS=ai.requests
KAFKA_TOPIC_AI_RESPONSES=ai.responses

KAFKA_GROUP_IMAGE_WORKER=image_worker_group
KAFKA_GROUP_GATEWAY=gateway_group
KAFKA_TOPIC_RAW_MESSAGES=raw_messages

KAFKA_TOPIC_IMAGE_REQUESTS=image.requests
KAFKA_TOPIC_IMAGE_RESPONSES=image.responses

KAFKA_GROUP_MESSAGE_HISTORY=message_history_group

KAFKA_GROUP_REACTION_WORKER=rection_worker_group

KAFKA_TOPIC_REACTION_COMMANDS=reaction.commands

KAFKA_TOPIC_CACHE_INVALIDATION=cache.invalidation


MEMORY_SERVICE_URL=http://memory_service:8000
MESSAGE_HISTORY_SERVICE_URL=http://message_history:8001
SECURITY_SERVICE_URL=http://security_service:8002
STORAGE_SERVICE_URL=http://storage_service:8005