PROJECT_ROOT=PROJECT-ROOT-HERE

DISCORD_PUBLIC_KEY=PUBLIC-KEY-HERE
DISCORD_TOKEN=DISCORD-TOKEN-HERE

POSTGRES_USER=anathema
POSTGRES_PASSWORD=POSTGRES-PASSWORD-HERE
POSTGRES_DB=anathemadb
AUDIT_DB=audit_db
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

PROXY_API_KEY=PROXY-API-KEY-HERE
PROXY_API_BALANCE_URL=https://api.proxyapi.ru/proxyapi/balance

SUPERUSER_ID=USERNAME-HERE

MINIO_HOST=minio
MINIO_PORT=9000
MINIO_ACCESS_KEY=anathemaminio
MINIO_SECRET_KEY=MINIO-SECRET-HERE
MINIO_BUCKET=images
MINIO_SECURE=False

REDIS_URL=redis://redis:6379

REDIS_PENDING_AI_PREFIX=pending:ai:
REDIS_PENDING_IMAGE_PREFIX=pending:image:
REDIS_PENDING_ADMIN_PREFIX=pending:admin:
PENDING_TTL_SECONDS=600

MEMORY_CACHE_TTL_SECONDS=300

HISTORY_CACHE_LIMIT=100
REDIS_HISTORY_PREFIX=history:

KAFKA_BOOTSTRAP_SERVERS=kafka:9092

KAFKA_GROUP_ADMIN_SERVICE=admin_service_group
KAFKA_TOPIC_ADMIN_COMMANDS=admin.commands
KAFKA_TOPIC_ADMIN_RESPONSES=admin.responses

KAFKA_GROUP_AI_WORKER=ai_worker_group
KAFKA_TOPIC_AI_REQUESTS=ai.requests
KAFKA_TOPIC_AI_RESPONSES=ai.responses

KAFKA_GROUP_IMAGE_WORKER=image_worker_group
KAFKA_GROUP_GATEWAY=gateway_group
KAFKA_TOPIC_RAW_MESSAGES=raw_messages

KAFKA_TOPIC_IMAGE_REQUESTS=image.requests
KAFKA_TOPIC_IMAGE_RESPONSES=image.responses

KAFKA_GROUP_MESSAGE_HISTORY=message_history_group

KAFKA_GROUP_REACTION_WORKER=rection_worker_group

KAFKA_TOPIC_REACTION_COMMANDS=reaction.commands

KAFKA_TOPIC_CACHE_INVALIDATION=cache.invalidation

KAFKA_GROUP_AUDIT_SERVICE=audit_service_group
KAFKA_TOPIC_AUDIT_EVENTS=audit.events



MEMORY_SERVICE_URL=http://memory_service:8000
MESSAGE_HISTORY_SERVICE_URL=http://message_history:8001
SECURITY_SERVICE_URL=http://security_service:8002
STORAGE_SERVICE_URL=http://storage_service:8005
AUDIT_SERVICE_URL=http://audit_service:8006

GATEWAY_MEMORY_CLIENT_KEY=GATEWAY-MEMORY-KEY-HERE
GATEWAY_STORAGE_CLIENT_KEY=GATEWAY-STORAGE-KEY-HERE
ADMIN_SECURITY_CLIENT_KEY=ADMIN-SECURITY-KEY-HERE
ADMIN_MEMORY_CLIENT_KEY=ADMIN-MEMORY-KEY-HERE
AIWORKER_MEMORY_CLIENT_KEY=AIWORKER-MEMORY-KEY-HERE
AIWORKER_HISTORY_CLIENT_KEY=AIWORKER-HISTORY-KEY-HERE
IMAGEWORKER_STORAGE_CLIENT_KEY=IMAGEWORKER-STORAGE-KEY-HERE
REACTIONWORKER_MEMORY_CLIENT_KEY=REACTIONWORKER-MEMORY-KEY-HERE
WEBWAY_MEMORY_CLIENT_KEY=WEBWAY-MEMORY-CLIENT-KEY-HERE
WEBWAY_SECURITY_CLIENT_KEY=WEBWAY-SECURITY-CLIENT-KEY-HERE
WEBWAY_HISTORY_CLIENT_KEY=WEBWAY-HISTORY-CLIENT-KEY-HERE
WEBWAY_STORAGE_CLIENT_KEY=WEBWAY-STORAGE-CLIENT-KEY-HERE
WEBWAY_AUDIT_CLIENT_KEY=WEBWAY-AUDIT-CLIENT-KEY-HERE


DISCORD_REDIRECT_URI=http://localhost/auth/discord/callback
DISCORD_GUILD_ID=DISCORD-GUILD-ID-HERE

JWT_SECRET_KEY=JWT-SECRET-KEY-HERE
JWT_ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
COOKIE_SECURE=true

DISCORD_CLIENT_ID=DISCORD-CLIENT-ID-HERE
DISCORD_CLIENT_SECRET=DISCORD-CLIENT-SECRET-HERE
BACKEND_URL=http://webway_backend:8000

REACTIONWORKER_AUTOUPDATE_INTERVAL=300

AUDIT_STREAM_MAXLEN=10000
AUDIT_STREAM_KEY=audit:events
AUDIT_FALLBACK_PATH=/tmp/audit_fallback.jsonl